{% extends 'base.html.twig' %}

{% block title %}Outils{% endblock %}

{%block main%}
  <div class="container">
  <h1>Outils</h1>
    <div class="row" id="outilsdetail">
      <div class="col">
        <tr>
          <h5>Déscriptif :</h5>
          <td>{{ outil.descriptifs }}</td>
        </tr>
      </div>
      <div class="col">
        <h5>Etat :</h5>
      </div>
    </div>
  <div>

    <a href="{{ path('index') }}">Retour a l'accueil</a>

{% endblock %}
